.container {
	width: 900px;
	margin: 0px auto;
}

/*light green background = #90EE90*/



body {
	background: #fff;
}

header {
	padding-top: 10px; 
	padding-bottom: 20px;
	margin-right: -40px;
	margin-left: 30px;
}

header nav {
	margin-top: 30px;
	font-size: 13pt;
}

header img {
	padding: 1em;
/*	background: #fff;*/
	padding-bottom: 0px;
	float: left;
	height: 50px;
	margin-top: 5px;
	margin-left: -20px;
}

section img {
	float: right;
	margin-top: -80px;
	margin-right: -20px;
	height: 100%;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #90EE90;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	margin-left: 0px;
	margin-right: 0;
	width: 100%;
	height: 300px;
	margin-top: 40px;
}


section h1 {
	font-size: 200%;
	margin-right: 30px;
	margin-top: 40px;
	text-align: left;
}

section p {
	margin-right: 30px;
	text-align: left;
}

/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

/* Links */
nav {
	float: right;
/*	background: #fff;*/
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  	-moz-box-shadow:inset 0px 1px 0px 0px #6db05c;
		-webkit-box-shadow:inset 0px 1px 0px 0px #6db05c;
		box-shadow:inset 0px 1px 0px 0px #6db05c;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3ddb55), color-stop(1, #235705) );
		background:-moz-linear-gradient( center top, #3ddb55 5%, #235705 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ddb55', endColorstr='#235705');
		background-color:#3ddb55;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:9px;
		border:1px solid #4b4d4b;
		display:inline-block;
		color:#ffffff;
		font-family:Arial;
		font-size:24px;
		font-weight:bold;
		padding:8px 16px;
		text-decoration:none;
		text-shadow:1px 1px 0px #000000;
		float: left;
		margin-right: 30px;


}
	

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;

  margin-left: 120px;
  margin-right: auto;
}

footer nav {
  float: none;
}

/*User Show Page*/

table.profile {
	width: 100%;
	margin-bottom: 0;
	margin-top: 20px;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: 0px;
	margin-top: 50px;
	margin-left: 20px;
	height: 100px;
	float: left;
}

#username {
	margin-left: 10px;	
	margin-top: -50px;
}

#gravataricon {
	margin-left: -30px;
	padding: 1em;
	margin-top: 30px;
}



div.field, div.actions {
	margin-bottom: 5px;
	margin-left: 370px;
}

#signuppagetitle {
	margin-top: 0px;
	margin-left: 400px;
}

/*Error Messages*/

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}


#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; 
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

