.container {
	width:1100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 60px;
	line-height: 58px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 40px;
	margin-top: 0px;
	outline-color: #393C3D;
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 15px;
	padding-top: 0px;
	position: static;
	text-align: right;
	text-shadow: white 0px 1px 1px;
	top: auto;
	vertical-align: baseline;
}

/*light green background = #90EE90*/

body {
	background: #fff;
}

header {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-right: -40px;
	margin-left: 30px;
	
}

header img {
	padding: 1em;
/*	background: #fff;*/
	padding-bottom: 0px;
	float: left;
}

section img {
	float: left;
	margin-top: -72px;
	height: 90%;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #90EE90;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	margin-left: auto;
	margin-right: auto;
	width: 115%;
	margin-top: 100px;
	height: 400px;
}


section h1 {
	font-size: 200%;
	margin-right: 80px;
	margin-top: 40px;
}

section p {
	margin-right: 80px;
}

/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

/* Links */
nav {
	float: right;
	background: #fff;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  	-moz-box-shadow:inset 0px 1px 0px 0px #6db05c;
		-webkit-box-shadow:inset 0px 1px 0px 0px #6db05c;
		box-shadow:inset 0px 1px 0px 0px #6db05c;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3ddb55), color-stop(1, #235705) );
		background:-moz-linear-gradient( center top, #3ddb55 5%, #235705 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ddb55', endColorstr='#235705');
		background-color:#3ddb55;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:9px;
		border:1px solid #4b4d4b;
		display:inline-block;
		color:#ffffff;
		font-family:Arial;
		font-size:26px;
		font-weight:bold;
		padding:12px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #000000;
		float: none;
		margin-right: 80px;
}
	

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;

  margin-left: 200px;
  margin-right: auto;
}

footer nav {
  float: none;
}


