<table class="hometable" summary="hometable">
	<tr>
		<td>
			<div id="usclogo">
			<%= link_to image_tag("usclogo.jpg", :alt => "USC", :height => 100), uschome_path %> 
		   </div>

		</td>
		<td>

			<div id="ualogo">
				<%= link_to image_tag("ualogo.jpeg", :alt => "U of A", :height => 100), uawater_path %>
				
			</div>
		</td>
		<td>
			<div id="uklogo">
			<%= link_to image_tag("kulogo.jpg", :alt => "KU", :height => 100), kuwater_path %>
			
		   </div> </br>
		</td>
		<td>
			<div id="cclogo">
			<%= link_to image_tag("ccshield.jpg", :alt => "KU", :height => 100), ccwater_path %>
			
		   </div> </br>
		</td>
	</tr>
</table>