<h1>Congrats! Your Order Has Been Placed</h1>

<p>Thanks for using Spinlister! </p></br>
	
<p>We will contact the bike owners and let them know you want to rent their bike. You should be hearing from us within 1 hour with the exact location of the bike and retrieval details. </p></br>

<p>(Don't worry, if your rental is not approved you won't be charged)

</p>