<h1 id="ordering">Startup Koolaid. Everyone's doing it. </h1></br>

<div id="howitworkspage">
<p>	Built, pivoted, gamified, and iterated by these people: </p>
</div>
<div id="peeps">

<ul class="media-grid">
  <li>
    <a href="http://twitter.com/willydennis">
      <img class="ourpic" src="/images/will.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/heyitsfei">
      <img class="ourpic" src="/images/fei.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/khpatel">
      <img class="ourpic" src="/images/kishan.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/asergeeva">
      <img class="ourpic" src="/images/anna.jpg" alt="">
    </a>
  </li>
 
</ul>

</div>
<div id="slides">
<div style="width:800px" id="__ss_9436891"><strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/thatwilldennisguy/startup-koolaid-pitch-deck" title="Startup Koolaid Pitch Deck">Startup Koolaid Pitch Deck</a></strong><object id="__sse9436891" width="800" height="600"><param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=startupwinning-110927015348-phpapp02&stripped_title=startup-koolaid-pitch-deck&userName=thatwilldennisguy" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse9436891" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=startupwinning-110927015348-phpapp02&stripped_title=startup-koolaid-pitch-deck&userName=thatwilldennisguy" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="800" height="600"></embed></object><div style="padding:5px 0 12px">
	</div>