<h1 id="ordering">Startup Koolaid. Everyone's doing it. </h1></br>

<div id="howitworkspage">
<p>	Built, pivoted, gamified, and iterated by these people: </p>
</div>
<div id="peeps">

<ul class="media-grid">
  <li>
    <a href="http://twitter.com/willydennis">
      <img class="ourpic" src="/images/will.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/heyitsfei">
      <img class="ourpic" src="/images/fei.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/khpatel">
      <img class="ourpic" src="/images/kishan.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://twitter.com/asergeeva">
      <img class="ourpic" src="/images/anna.jpg" alt="">
    </a>
  </li>
 
</ul>

</div>