<h1>Campus Deliveries quenches your thirst.</h1>
<p>
	Campus Deliveries is a student-run dorm, apartment, fraternity, and sorority delivery service specializing in drinks and flowers. We serve college campuses in the Los Angeles area with weekly free deliveries. Whether you are looking for hydration or that classic flower bouquet, CampusDeliveries.com is your source for affordable necessities on your campus. 
</p>