<h1 id="ordering">Startup Koolaid. Everyone's doing it. </h1></br>

<div id="howitworkspage">
<p> We built this site to celebrate and satirize the start up scene we love. Built by the organizers of Start Up Weekend USC. </p>
</div>

