<h1 id="ordering">Campus Deliveries quenches your thirst.</h1></br>

<div id="howitworkspage">
<p> Campus Deliveries is a student-run dorm, apartment, fraternity, and sorority delivery service specializing in drinks and flowers. We serve college campuses in Los Angeles, Arizona, and Kansas with weekly free deliveries. Whether you are looking for hydration or that classic flower bouquet, CampusDeliveries.com is your source for affordable necessities on and around your campus. 
</div>

<div class="schoollogo">
	
	<table class="hometable" summary="hometable">
		<tr>
			<td>
				<div id="usclogo">
				<%= link_to image_tag("usclogo.jpg", :alt => "USC", :height => 100), uschome_path %> 
			   </div>

			</td>
			<td>

				<div id="ualogo">
					<%= link_to image_tag("ualogo.jpeg", :alt => "U of A", :height => 100), uawater_path %>
					
				</div>
			</td>
			<td>
				<div id="uklogo">
				<%= link_to image_tag("kulogo.jpg", :alt => "KU", :height => 120), kuwater_path %>
				
			   </div> </br>
			</td>
		</tr>
	</table>
	

</div>