<h1>Frequently Asked Questions</h1> 
<h2>Who handles insurance?</h2>
<p> We do</p>
<h2>How do I get paid?</h2>
<p> We pay you</p>
<h2>How do I get paid?</h2>
<p> We pay you</p>
<h2>Shut up and go ride your bike.</h2>