<h1 id = "faqheader">Frequently Asked Questions</h1> 
<h2 id="faqquestion">Who handles insurance?</h2>
<p> We do</p>
<h2 id="faqquestion">How do I get paid?</h2>
<p> We pay you</p>
<h2 id="faqquestion">Do you supply helmets?</h2>
<p>Shut up and go ride your bike.</p>
