
<div class="producttextbox">
		<div class="producttext" id="producttitle">Fred Wilson is My Homeboy</div>
		
		<div class="twitterbutton"><%= tweet_button( :via => "StartupKoolAid", :count => "none", :text => "Me and @fredwilson are homies. Got the shirt to prove it." ) %></div>

		<div class="producttext" id="productsubtitle">Having a lead investor champion your company can make or break a financing round. This might be your second best option. Ballin' by association. </div>
		
		<!-- <div class="producttext" id="size">S, M, L, XL</div> -->
		

		
		<div class="producttext" id="productprice">$40</div>
		
		<div class="product"><input type="hidden" class="product-title" value="Fred Wilson T Shirt"><input type="hidden" class="product-price" value="40.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("fredwilsonhomeboy.jpg") %></div> 



<%= render 'shared/producttable' %>