
<div class="producttextbox">
		<div class="producttext" id="producttitle">Fred Wilson is My Homeboy</div>

		<div class="producttext" id="productsubtitle">Fred Wilson is a great investor to have in your roll-a-dex. Let people know how connected you are by association. </div>
		
		<!-- <div class="producttext" id="size">S, M, L, XL</div> -->
		

		
		<div class="producttext" id="productprice">$40</div>
		
		<div class="product"><input type="hidden" class="product-title" value="Fred Wilson T Shirt"><input type="hidden" class="product-price" value="40.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("fredwilsonhomeboy.jpg") %></div> 

