
<div class="producttextbox">
		<div class="producttext" id="producttitle">CTO in a Haystack</div>
		
		<div class="twitterbutton"><%= tweet_button( :via => "StartupKoolAid", :count => "none", :text => "Went to a tech meetup and all I got was this t shirt. Launching at #swusc" ) %></div>
		

		<div class="producttext" id="productsubtitle">Heading to a tech meet up to find a technical "rockstar"? You and everyone else. It's like finding a needle in a haystack. </div>
		
		<!-- <div class="producttext" id="size">S, M, L, XL</div> -->
		

		
		<div class="producttext" id="productprice">$40</div>
		
		<div class="product"><input type="hidden" class="product-title" value="CTO in a Haystack"><input type="hidden" class="product-price" value="40.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("ctoinhaystack.jpg") %></div> 


<%= render 'shared/producttable' %>