<div id="listyourbike"><%= link_to "About", about_path %></div>
<div id="sliderdiv">
	<div id="featured"> 
				 <a href="http://startupkoolaid.com/startupkoolaid"><img src="/images/koolaid_long.png" alt="Overflow: Hidden No More" /></a>
				<a href="http://startupkoolaid.com/twentyundertwo"><img src="/images/twentyundertwo_long.png" alt="Overflow: Hidden No More" /></a>
			     <a href="http://startupkoolaid.com/sociallubricant"><img src="/images/jelly_long.png" alt="Overflow: Hidden No More" /></a>
			     <a href="http://startupkoolaid.com/themeanstartup"><img src="/images/meanstartup_long.png" alt="Overflow: Hidden No More" /></a>
				 <a href="http://startupkoolaid.com/dorseytechies"><img src="/images/techies_long.png" alt="Overflow: Hidden No More" /></a>
	</div>

	<script type="text/javascript">
	     $(window).load(function() {
	         $('#featured').orbit({
		animationSpeed: 10,
		advanceSpeed: 6000
		});
	     });
	</script>
</div>

<%= render 'shared/producttable' %>