<div id="listyourbike"><%= link_to "About", about_path %></div>
<div id="sliderdiv">
	<div id="featured"> 
				 <a href="http://startupkoolaid.com/startupkoolaid"><img src="/images/koolaid_long.png" alt="Overflow: Hidden No More" /></a>
			     <a href="http://startupkoolaid.com/sociallubricant"><img src="/images/jelly_long.png" alt="Overflow: Hidden No More" /></a>
			     <a href="http://startupkoolaid.com/themeanstartup"><img src="/images/meanstartup_long.png" alt="Overflow: Hidden No More" /></a>
				 <a href="http://startupkoolaid.com/dorseytechies"><img src="/images/techies_long.png" alt="Overflow: Hidden No More" /></a>
	</div>

	<script type="text/javascript">
	     $(window).load(function() {
	         $('#featured').orbit({
		animationSpeed: 10,
		advanceSpeed: 6000
		});
	     });
	</script>
</div>


<ul class="media-grid">
  <li>
    <a href="http://startupkoolaid.com/whatwouldchrisdixondo">
      <img class="thumbnail" src="/images/dixon.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/fredwilsonismyhomeboy">
      <img class="thumbnail" src="/images/fredwilsonhomeboy.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/dorseytechies">
      <img class="thumbnail" src="/images/techies.png" alt="">
    </a>
  </li>
  <li>
</ul>
<ul class="media-grid">
  <li>
    <a href="http://startupkoolaid.com/techbubblebubblegum">
      <img class="thumbnail" src="/images/techbubble.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/themeanstartup">
      <img class="thumbnail" src="/images/leanstartupbook.png" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/thisweekinjason">
      <img class="thumbnail" src="/images/thisweekin.png" alt="">
    </a>
  </li>
  <li>
</ul>
<ul class="media-grid">
  <li>
    <a href="http://startupkoolaid.com/startupkoolaid">
      <img class="thumbnail" src="/images/koolaid_1.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/incubatorramen">
      <img class="thumbnail" src="/images/ramen.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/sociallubricant">
      <img class="thumbnail" src="/images/jelly_sq.png" alt="">
    </a>
  </li>
  <li>
</ul>
<ul class="media-grid">
  <li>
    <a href="http://startupkoolaid.com/ctoinahaystack">
      <img class="thumbnail" src="/images/ctoinhaystack.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/wherescto">
      <img class="thumbnail" src="/images/waldocto.jpg" alt="">
    </a>
  </li>
  <li>
    <a href="http://startupkoolaid.com/sociallubricant">
      <img class="thumbnail" src="/images/jelly_sq.png" alt="">
    </a>
  </li>
  <li>
</ul>