
	<h1 id="hometitle">Please Select Your Campus</h1> 
	<div>


<div class="schoollogo">
	<%= link_to image_tag("USC_TrojanLogo.jpg", :alt => "Great looking bike", :class => "round", :height => 200), uschome_path %> 


	<%= link_to image_tag("uofalogo.svg", :alt => "Great looking bike", :class => "round", :height => 200), uahome_path %>


		<%= link_to image_tag("kulogo.svg", :alt => "Great looking bike", :class => "round", :height => 200), ukhome_path %>
</div>

<div id="homevid">
	<iframe width="560" height="345" src="http://www.youtube.com/embed/Ui86peQZ74s" frameborder="0" allowfullscreen></iframe>
</div>
