<h1 id="hometitle">Find a bike to ride.</h1> 
<p><%= link_to bike, root_path	%></p>
<p>Rent bikes from real people all over the world.</p>
<%= link_to "Find a bike in New York City", '#', :class => "signup_button round" %>

