<h1 id="ordering">Ordering drinks is as easy as 1, 2, Free</h1>

<div id="hiwpic"><%= image_tag 'cdhowitworks.jpg' %></div>


<div class="schoollogo">
	
<%= render 'shared/homelogos' %>
	
</div>

<div id="school">go to your school!</div>