<h1 id="ordering">Ordering drinks is as easy as 1, 2, Free</h1></br>

<div id="howitworkspage">
<p> 1. Browse drinks online at CampusDeliveries.com. </br></br>
 2. Complete your order securely using Google Checkout. </br></br>
 3. We deliver to your door on Sunday evening. For Free.</p>
</div>