
<div class="producttextbox">
		<div class="producttext" id="producttitle">The Mean Start Up</div>

		<div class="producttext" id="productsubtitle">From the acclaimed startup thinker Eric Reis comes the next revolution in company building: Frown, throw out the keg-erator, bully employees into a corner, and implement a strict dress code. Productivity through the roof! </div>
		
		<!-- <div class="producttext" id="size">S, M, L, XL</div> -->
		

		
		<div class="producttext" id="productprice">$30</div>
		
		<div class="product"><input type="hidden" class="product-title" value="The Mean Startup"><input type="hidden" class="product-price" value="30.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("leanstartupbook.png") %></div> 

