
<div class="producttextbox">
		<div class="producttext" id="producttitle">Incubator Ramen</div>
		
		<div class="twitterbutton"><%= tweet_button( :via => "StartupKoolAid", :count => "none", :text => "The official noodles of @techstars. @davetisch approved. Launching at #swusc" ) %></div>

		<div class="producttext" id="productsubtitle">Hungry and broke? Of course. Enjoy a three month supply of ramen in the type and flavor of your favorite incubator. Odds of acceptance are low, at least your blood sodium will be high!</div>
		
		
		<div class="producttext" id="productprice">$50 (3 month supply!)</div>
		
		<div class="product"><input type="hidden" class="product-title" value="Social Lubricant"><input type="hidden" class="product-price" value="50.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("ramen.jpg") %></div> 



<%= render 'shared/producttable' %>