
<div class="producttextbox">
		<div class="producttext" id="producttitle">Invest in Lines, Not Dots</div>
		
<div class="twitterbutton"><%= tweet_button( :via => "StartupKoolAid", :count => "none", :text => "I invested in a dot once. I should have listened to @msuster. Launching at #swusc" ) %></div>

		<div class="producttext" id="productsubtitle"> Dots are the new squares. You don't want to be one. Build relationships with VCs so they know you, like you, will invest in you, and write about you in their blog. Line up. </div>
		
		
		<div class="producttext" id="productprice">$40</div>
		
		<div class="product"><input type="hidden" class="product-title" value="Lines not Dot"><input type="hidden" class="product-price" value="40.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("suster.jpg") %></div> 



<%= render 'shared/producttable' %>