
<div class="producttextbox">
		<div class="producttext" id="producttitle">Serial Entrepreneur Cereal</div>

		<div class="producttext" id="productsubtitle">Already started a company? Looking for round two? Eat this cereal and join the likes of Mark Suster, Jason Calacanis, and Jack Dorsey. You'll have a successful second exit and a widely-read blog in no time!</div>
		
		<!-- <div class="producttext" id="size">S, M, L, XL</div> -->
		

		
		<div class="producttext" id="productprice">$40</div>
		
		<div class="product"><input type="hidden" class="product-title" value="Waldo T Shirt"><input type="hidden" class="product-price" value="40.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>

</div>

<div class="productimage"><%= image_tag("techies.png") %></div> 

