<div class="bigtypeflowers">Custom</div>

<div id="uklinks"><%= link_to "Mixed Bouquets", uscflowers_path  %> </div>
<div id="uklinks"><%= link_to "Roses", uscroses_path %> </div>
<div id="uklinks"><%= link_to "Sunflowers", uscsunflowers_path  %> </div>
<div id="uklinks"><%= link_to "Custom Orders", usccustom_path %> </div>







<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var m7x3w7 = new WufooForm();
m7x3w7.initialize({
'userName':'spinlister', 
'formHash':'m7x3w7', 
'autoResize':true,
'height':'392',
'header':'show'});
m7x3w7.display();
</script>

<div class="product"><input type="hidden" class="product-title" value="Custom Bouquet"><select class="product-attr-custom"><option value="Custom Bouquet" googlecart-set-product-price="31.99" selected="selected">Custom Bouquet - $31.99</option><option value="Custom Bouquet" googlecart-set-product-price="39.99">Custom Bouquet - $39.99</option><option value="Custom Bouquet" googlecart-set-product-price="49.99">Custom Bouquet - $49.99</option><option value="Custom Bouquet" googlecart-set-product-price="59.99">Custom Bouquet - $59.99</option><option value="Custom Bouquet" googlecart-set-product-price="69.99">Custom Bouquet - $69.99</option></select><input type="hidden" class="product-price" value="31.99"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>