<div id="showcartpadding">

	<div id="showcartitem" class="round">
		<li id="liststyle">
		<div id="cartitemtitle">


<li id="mybikes">

	<%= image_tag bike.photo.url(:thumb) %>
	<%= link_to bike.name, bike %>
	<% if current_user=bike.user%>
	|
	<%= link_to "delete", bike, :method => :delete, :confirm => "You sure?",
	 							:title => "Delete #{bike.name}"%>
	|
	<%= link_to "edit", edit_bike_path(bike) %>
	<% else %>
	<% end %>

</li>

</div>

	</div>
		</li>
		</div>