<% if @bike.errors.any? %>
  <div id="error_explanation">
  	<h2>
  		<%= pluralize(@bike.errors.count, "error") %>
		prohibited this bike from being saved:
  	</h2>
	<p>There were problems with the following fields:</p>
	<ul>
	<% @bike.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	<% end %>
	</ul>
  </div>
<% end %>