<h1>All Bikes</h1>
<% form_tag bikes_path, :method => 'get' do  %>
<p>
	<%= text_field_tag :search, params[:search], :size => 50 %>
	<%= submit_tag "Find Bikes by City", :name => nil %> </br>
	ex. Los Angeles
</p>
<% end %>

<ul>
  <% @bikes.each do |bike| %>
	  <%= link_to image_tag(bike.photo.url(:bigsquare)), bike %>
      <!-- <%= link_to bike.name, bike %> -->
	 
	  
  <% end %>
</ul>

