<h1>List Your Bike (It's Free)</h1>
<div id="listabike" class="round">

	<%= form_for(@bike, :html => {:multipart => true}) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'shared/bike_fields', :f => f %>
	<div class="actions">
	   <%= f.submit "List Your Bike", :class => 'findabikebutton' %></br>
	</div>
	<% end %>

</div>
