<footer>
	
	<nav class="round">
		<ul>

			
			<li><%= link_to "Facebook", 'http://www.facebook.com/pages/Startup-Kool-Aid/265615366805726' %></li>
			<li><%= link_to "Twitter", 'http://twitter.com/StartupKoolAid' %></li>
			<li><%= link_to "Contact", contact_path %></li>
			
		</ul>
	</nav>
</footer>