<header>
	<%= link_to logo, root_path	%>
	<nav class="round">
		<ul class="links">

			
			<script  id='googlecart-script' type='text/javascript' src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid=542756221394641' integration='jscart-wizard' post-cart-to-sandbox='false' currency='USD' productWeightUnits='LB'></script>
			
		</ul>
	</nav>
</header>